@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-color: theme("colors.gray");
  color: white;
  font-family: theme("fontFamily.primary");
  height: 100dvh;

  @apply p-4 lg:px-10 lg:py-12;
}

#__next,
body {
  @apply min-h-full max-w-screen-xl mx-auto;
}

body {
  @apply border border-white;
}

h1 {
  @apply font-light text-l2 lg:text-xl2;
}

.main-content a {
  @apply underline hover:no-underline;
}
