@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-color: #0d0d0d;
  color: white;
  font-family: theme("fontFamily.primary");
  @apply p-4 lg:px-10 lg:py-12;
}

h1 {
  @apply font-light text-l2 lg:text-xl2;
}

.main-content a {
  @apply underline hover:no-underline;
}
